body {
    margin: 0;
    background: #3399ff;
    height: 100vh;
}

.banner {
  background-color: None;
  color: #eee;
  font-size: 3rem;
  margin-top: 20vh;
}

.animate-down-once div {
  height: 5rem;
  margin-bottom: -5rem;
  opacity: 0;
  text-align: center;
}

.animate-down-once div:nth-child(1), .animate-down-once div:nth-child(2) {
  animation: slideDownThrough 9s linear 3s 1;
}
.animate-down-once div:nth-child(2) {
  animation-delay: 6s;
}
.animate-down-once div:nth-child(3) {
  animation: slideDownIn 3s linear 9s 1 forwards;
}

@keyframes slideDownThrough {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  5% {
    opacity: 1;
    transform: translateY(0px);
  }
  17% {
    opacity: 1;
    transform: translateY(0px);
  }
  20% {
    opacity: 0;
    transform: translateY(1rem);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slideDownIn {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    transform: translateY(-4rem);
  }
  17% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1vh 3vw 0;
  color: white;
  width: 60vw;
  font-size: 20px;
  margin-top: -30vh;
}

@media screen and (max-width: 500px) {
  .content {
    font-size: 16px;
    width: 90vw;
  }
}

.circle{
  position: absolute;
  border-radius: 50%;
  background: white;
  animation: ripple 15s infinite;
  box-shadow: 0px 0px 1px 0px #508fb9;
}
.small{
  width: 200px;
  height: 200px;
  left: -100px;
  bottom: -100px;
}
.medium{
  width: 400px;
  height: 400px;
  left: -200px;
  bottom: -200px;
}
.large{
  width: 600px;
  height: 600px;
  left: -300px;
  bottom: -300px;
}
.xlarge{
  width: 800px;
  height: 800px;
  left: -400px;
  bottom: -400px;
}
.xxlarge{
  width: 1000px;
  height: 1000px;
  left: -500px;
  bottom: -500px;
}
.shade1{
  opacity: 0.2;
}
.shade2{
  opacity: 0.5;
}
.shade3{
  opacity: 0.7;
}
.shade4{
  opacity: 0.8;
}
.shade5{
  opacity: 0.9;
}

@keyframes ripple{
  0%{
    transform: scale(0.8);
  }
  
  50%{
    transform: scale(1.2);
  }
  
  100%{
    transform: scale(0.8);
  }
}