<!DOCTYPE html>
<html lang="en">
<head>
    <style>body{overflow: hidden;}</style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wim Hof breathing</title>
    <link rel="shortcut icon" type="image/png" href="static/images/favicon.png" />
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="static/style.css" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <!--Navigation Bar-->
    <div class="brand"><a href="/"><img src="static/images/brand.png" width="40"></a></div>
    <div class="navbar">
        <div class="dropdown">
          <button class="dropbtn">Service
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/bodymass">BMI ratio</a>
            <a href="#">Dibetis</a>
            <a href="/cancer">Breast Cancer</a>
            <a href="#">Heart Disease</a>
            <a href="#">Kidney Disease</a>
          </div>
        </div>
        <a class = "active" href="/lifestyle">Lifestyle</a>
        <!--Login-->
        <div class="dropdown-login">
          <button class="login">Login 
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-login-content">
            <a href="#">Login</a>
            <a href="#">Sign Up</a>
          </div>
        </div>
    </div>

    <!--Content-->
    <main style="display: flex;flex-direction: column; justify-content: center; align-items: center; width: 100vw; height: 100vh;">
      <div class="content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque feugiat semper massa, eget venenatis odio venenatis ac. Proin in tellus sapien. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc odio mauris, suscipit ac posuere vitae, fermentum sed nibh. Quisque ante felis, auctor ac interdum mollis, pharetra et nulla. In purus sem, eleifend ut mollis accumsan, venenatis posuere quam. Nulla gravida dignissim nisi id lacinia.
        </p>
      </div>
    
    <br>
    <!--Footer-->
    <footer>
      <p>© 2021 healthyme.ai ~ @</p>
      <div class="underline">AkhileshThite</div>
    </footer>
</body>
</html>
